.header {
  background-color: #3367d6;
  padding: 20px 40px 20px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.heading {
  height: 30px;
  width: 120px;
}
#search-bar {
  height: 35px;
  width: 250px;
  background-color: #2850a7;
  border: 1px solid #6697ff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
  color: #e7eaed;
  font-size: 16px;
  font-family: Roboto;
}
.search-logo {
  height: 35px;
  width: 40px;
  background-color: #2850a7;
  border: 1px solid #6697ff;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30%;
  padding-left: 30%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8fafc;

  padding: 30px;
}
.card {
  background-color: #ffffff;
  border-width: 0px;
  border-radius: 7px;
  width: 100%;
  box-shadow: 2px 2px 5px rgb(200, 198, 198);
}
